
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">画面操作･･･etc</a></li>
		<li><a href="#tabs-2">新規作成･･･</a></li>
		<li><a href="#tabs-3">登録について･･･</a></li>
		<li><a href="#tabs-4">データ保存期限について･･･その他</a></li>
	</ul>
	<div id="tabs-1">

    <dl class = "help_site_info" >

      <dt>
        もし画面表示が･･･
      </dt>
      <dd>
        おかしくなったら、F5キーを押すか、ヘッダーにある’Home / ホーム’
        をクリックして、ページリロードしてみてください。
      </dd>

      <dt>
        ３つのカレンダー画面
      </dt>
      <dd style = "display: none;">
        月単位、週単位、日単位でカレンダー表示を切り替えることが出来ます。<br/>
        デフォルトは月単位です。
      </dd>

      <dt>
        週と日単位の表示時間
      </dt>
      <dd style = "display: none;">
        週と日単位の表示時間は6時～22時までです。それ以外の時間帯のスケジュールも作成可能ですが、
        週と日単位のカレンダーには表示されません。月単位のカレンダーには表示されます。皆さん、
        終電があるうちにお家に帰りましょう!!
      </dd>

      <dt>
        投稿コメント
      </dt>
      <dd style = "display: none;">
        右サイドバーにある’Post / 投稿する’をクリックすると投稿コメントできます。表示は直近の
        8件です。皆さんのご意見、インフォメーションお待ちしています。ちなみに投稿コメント欄は
        ログインされていない方にも表示されます。将来的には相手を選んで投稿できるオプションも
        実装したいと考えています。
      </dd>

      <dt>
        ３つのDisplay Mode
      </dt>
      <dd style = "display: none;">
        自分のスケジュールのみ、公開スケジュールのみ、両方、この３つの選択が出来ます。
        ヘッダーの’Display / 表示’をクリックしてみてください。
      </dd>

    </dl>

  </div>
	<div id="tabs-2">

    <dl class = "help_site_info" >

      <dt>
        新規作成･･･
      </dt>
      <dd>
        左上の’新規作成’ボタンをクリックするか、カレンダー上をクリックしてドラッグしてください。
        新規作成の Dialog Window が開きます。
      </dd>

      <dt>
        編集･削除･･･
      </dt>
      <dd style = "display: none;">
        カレンダー上のスケジュールをクリックしてください。Dialog Window が開き、編集か、削除を
        選択できます。
      </dd>

      <dt>
        スケジュールを公開するには･･･
      </dt>
      <dd style = "display: none;">
        スケジュール新規作成か編集のDialog Window を開き、'スケジュールを公開する？’のチェックを
        入れてください。ログインした方全てが閲覧できる状態になります。<br/>
        もちろん、編集で取り消すことも出来ます。<br/>ちなみにインデックスカラーはグリーンに統一されます。
      </dd>

    </dl>

  </div>

	<div id="tabs-3">

    <dl class = "help_site_info" >

      <dt>
        ユーザー登録すると･･･
      </dt>
      <dd>
        そのままログインの状態になり当サイトをご利用できます。意図的にログアウト
        しない限り、次回訪問時もログインした状態でご利用できます。
      </dd>

      <dt>
        名前とE_mailについて･･･
      </dt>
      <dd style = "display: none;">
        名前は本名である必要はありません。お好きなハンドルネームを使ってください。
        E_mailも現状では、E_mailの体裁を整えていれば、登録できてしまいますが、
        今後、パスワードを忘れた際の自動メール配信(パスワード更新ページのお知らせ)を
        予定しているので、実際に使用しているメールアドレスで登録をお願いします。
      </dd>

      <dt>
        パスワードを忘れたら･･･
      </dt>
      <dd style = "display: none;">
        E_mailでご連絡ください。対処します。具体的には管理人がユーザー登録を解除(削除)して,
        新規に再登録してもらうことになります。その際、今までのスケジュールと投稿コメントは消去されます。
        将来的にはパスワード更新ページのリンクをE_mailで自動配信する予定です。
      </dd>

      <dt>
        ユーザー登録を解除するには･･･
      </dt>
      <dd style = "display: none;">
        ユーザー一覧から自分の名前の横にある’削除’ボタンをクリックしてください。ユーザー登録を
        解除しますと、登録されたスケジュールと投稿コメントもすべて消去されます。
      </dd>

      <dt>
        プロフィール変更について･･･
      </dt>
      <dd style = "display: none;">
        ヘッダーの’アカウント’から’ユーザー情報更新’をクリックしてください。
        セキュリティ保持のためからも、パスワードの定期的な変更をお薦めします。
      </dd>
    </dl>

  </div>

	<div id="tabs-4">

    <dl class = "help_site_info" >

      <dt>
        データ保存は約3ヶ月･･･
      </dt>
      <dd>
        3ヶ月以上前のスケジュールデータと投稿コメントは消去します。現在消去作業は手動で行っているため、
        多少誤差がでます。3ヶ月以内のデータが消去されることはありません。将来的には自動化する予定。
      </dd>

      <dt>
        プロフィール画像について･･･
      </dt>
      <dd style = "display: none;">
        当サイトでは、プロフィール写真の管理に’Gravatar’を使用しています。<br/>
        Gravatar (グラバター)はWordPress社のメールアドレスとプロフィール画像を結びつけるサービスです。
       アカウント作成時やコメント投稿時のメールアドレスから、そのアドレスに対応する画像が
       アバターとして表示されます。とても便利なWebサービスです。<br/>
       使用するにはまず<br/>
       <a href="https://ja.gravatar.com/connect/?source=_signup" class = 'popup'>
       https://ja.gravatar.com/connect/?source=_signup、 ここで無料登録</a>
      </dd>

      <dt>
        利用環境について･･･
      </dt>
      <dd style = "display: none;">
        動作確認したブラウザは下記の通りです。<br/>
        Internet Explorer9<br/>
        Firefox Ver26.0<br/>
        Google Chrome バージョン 32.0.1700.102 m<br/>
        Safari 5.1.7<br/>
        Opera 12.16<br/>
      </dd>
    </dl>

  </div>

</div>

<script type="text/javascript">
  //<![CDATA[
    $(function(){
      $(".help_site_info dt").on("click", function() {
          $(this).next().slideToggle();
      });
      $( "#tabs" ).tabs({ 
        fx: { opacity: 'toggle', duration: 'normal'  },
        collapsible: true,
      });
      $(".popup").click(function(){
        window.open(this.href,"WindowName","width=600,height=500,resizable=yes,scrollbars=yes");
        return false;
	    });
    });
 //]]>
</script>
