
<div id = 'home', class = "center hero-unit">

  <h2>Welcome to the MyCalendar</h2>

  <%= link_to "Sign in / ログイン", signin_path, id: 'log_in_btn', class: "btn btn-large btn-primary", :method => :get, :remote => true %>
  <%= link_to "Sign up now! / ユーザー登録", signup_path, class: "btn btn-large btn-primary", :method => :get, :remote => true %>
</div>
