
<h4>MyCalendar?</h4>

<dl id = "ac_menu_right_info">

  <dt>
    このサイトは･･･
  </dt>
  <dd style = "display: none;">
    <p>このサイトは管理人が
    趣味と学習を兼ねて
    運営しているサイトです。</p>
    <p>商用サイトではありませ
    ん。</p>
  </dd>

  <dt>
    課金されることは･･･
  </dt>
  <dd style = "display: none;">
    <p>ありません。</p>
    <p>今後もする
    予定はありません。</p>
  </dd>

  <dt>
    気軽に･･･
  </dt>
  <dd style = "display: none;">
    <p>皆さん仕事上のスケ
    ジュール管理ソフト
    はすでにお使いだと
    思います。個人的な
    予定表としてお使い
    ください。</p>
  </dd>

  <dt>
    自己責任で･･･
  </dt>
  <dd style = "display: none;">
    <p>当サイトをご使用の
    際は自己責任でお願
    いします。</p>
  </dd>

</dl>

<hr/>

<h4>デモ画面について</h4>

<dl id = "ac_menu_right_info">

  <dt>
    Click Me!!
  </dt>
  <dd style = "display: none;">
    <p>右画面のカレンダー上を
    クリック、ドラッグ＆ドロッ
    プしてみてください。
    使い方がわかると思います。</p>
  </dd>

  <dt>
    デモ画面のリセット方法
  </dt>
  <dd style = "display: none;">
    <p>右画面のスケジュール
    はダミーデータです。
    移動しても、削除しても
    F5キーを押せば元に戻
    ります。</p>
  </dd>

  <dt>
    ユーザー登録する？
  </dt>
  <dd style = "display: none;">
    <p>ユーザー登録ボタンを
    クリックしてください。</p>
    <p>登録解除もユーザー
    一覧の画面でできます。</p>
  </dd>
  
  <dt>
    投稿する？
  </dt>
  <dd style = "display: none;">
    <p>投稿するにはユーザー
    登録をして、ログイン
    してください。
    右サイドバー下部に
    表示されます。</p>
  </dd>
</dl>
