<%# 新規作成・詳細・編集・削除ダイアログ表示領域 %>
<div id = "event_dialog" style ="display:none;">

<div id = "error_explanation_demo"  style = "float:right; color:red;" >
</div>

<div id = "attachment_info"  style = "float:right;" >
</div>

<div id = "event_info" >
</div>

<br/>

<div id = "event_actions">
  <span id = "edit_event"></span>
  <span id = "delete_event"></span>
</div>

</div>

<%# ユーザー新規登録・ログイン・ログアウトダイアログ表示領域 %>
<div id = "user_dialog" style ="display:none;">

  <div id = "flash_for_user_dialog"  style = "float:right;" >
  </div>

  <div id = "user_info" >
  </div>

</div>

<%# SiteInfo ダイアログ表示領域 %>
<div id = "site_info_dialog" style ="display:none;">

  <div id = "site_info" >
  </div>

</div>

<%# AdminInfo ダイアログ表示領域 %>
<div id = "admin_info_dialog" style ="display:none;">

  <div id = "flash_for_admin_info_dialog"  style = "float:right;" >
  </div>

  <div id = "admin_info" >
  </div>

</div>

<%# Micropost / 投稿 ダイアログ表示領域 %>
<div id = "micropost_dialog" style ="display:none;">

  <div id = "flash_for_micropost_dialog"  style = "float:right;" >
  </div>

  <div id = "micropost" >
  </div>

</div>