<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error" >
       <%= "#{object.errors.count}つのお願い" %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>＊<%= msg.html_safe %></li>
    <% end %>
    </ul>
  </div>
<% end %>

